<!DOCTYPE HTML>
<!--
This file is part of Pokemon Go Evolution Calculator.

Pokemon Go Evolution Calculator is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Pokemon Go Evolution Calculator is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Pokemon Go Evolution Calculator.  If not, see <http://www.gnu.org/licenses/>.
-->

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="theme-color" content="#e95420" />
<html>
<head>
  <title>Pokemon Go Pidgey Evolution Calculator</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <script src="js/angular.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/analytics.js"></script>
</head>
<body ng-app="PogoCalc" ng-controller="PogoCalcController">
  <div class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">Pokemon Go Pidgey Evolution Calculator</a>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="col-lg-4 col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Input
        </div>
        <div class="panel-body">
          <div class="form-group">
            <label>Pidgey Count</label>
            <span class="text-muted pull-right"><input type="checkbox" ng-model="form.keepPidgey">&nbsp;Keep a Pidgey</span>
            <input type="number" class="form-control" id="pidgeys" ng-model="form.pidgey">
          </div>
          <div class="form-group">
            <label>Pidgeotto Count</label>
            <span class="text-muted pull-right"><input type="checkbox" ng-model="form.keepPidgeotto">&nbsp;Keep a Pidgeotto</span>
            <input type="number" class="form-control" id="pidgeottos" ng-model="form.pidgeotto">
          </div>
          <div class="form-group">
            <label>Pidgey Candy</label>
            <input type="number" class="form-control" id="pidgeyCandy" ng-model="form.pidgeyCandy">
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Results
        </div>
        <table class="table table-bordered table-condensed">
          <tr>
            <td>Evolutions</td>
            <td>{{calculations.evolutions}}</td>
          </tr>
          <tr>
            <td>Pidgey transfers</td>
            <td>{{calculations.pidgeyTransfers}}</td>
          </tr>
          <tr>
            <td>Pidgeotto transfers</td>
            <td>{{calculations.pidgeottoTransfers}}</td>
          </tr>
          <tr>
            <td>Pidgey left</td>
            <td>{{resources.pidgeys}}</td>
          </tr>
          <tr>
            <td>Pidgeotto left</td>
            <td>{{resources.pidgeottos}}</td>
          </tr>
          <tr>
            <td>Candy left</td>
            <td>{{resources.candy}}</td>
          </tr>
          <tr>
            <td>Pidgey to catch to use all candy</td>
            <td>{{calculations.pidgeyToCatch}}</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-lg-4 col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Instructions
        </div>
        <div class="panel-body">
          <ol>
            <li ng-repeat="instruction in instructions track by $index">{{instruction}}</li>
          </ol>
        </div>
      </div>
    </div>
    <!--
    <div class="col-lg-4 col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          About
        </div>
        <div class="panel-body">
          <p>This is a tool to calculate how many Pidgeys and Pidgeottos to transfer before activating a Lucky Egg. This will minimize the amout of transferring done for the duration of the Lucky Egg.</p>
        </div>
      </div>
    </div> -->
  </div>
  <footer class="footer">
    <div class="container">
        <p class="text-muted">PogoCalc released under <a target="_blank" href="http://www.gnu.org/licenses/gpl.html">GNU GPL v3</a>. See the source code on <a href="https://github.com/dankirkham/pogocalc">GitHub</a>.</p>
      </div>
  </footer>
</body>
</html>
